---
layout: projects
title: Icon Set
next: /showTimes
previous: /reel
---          
    
<main id="main">

<!-- images -->  
    
        <div class="grid pad-t island">
           <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-2-3 island">
                <div class="embed embed--4by3">
                    <img src="{{site.baseurl}}/artwork/iconsBanner.jpg" class="main-p-img embed__item" alt="Animated Icon Set Banner">
                </div><!-- embed -->
            </div><!-- unit -->
            
             <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3">
            <div class="p-text-blurb gutter">
                {% for icons in site.data.icons %}
                <h4 class="p-sub push-0 pad-top">Objective</h4>
                <p>{{icons.blurb1}}</p>
                {% endfor %}
            </div><!--blurb--> 
        </div> <!--unit--> 
            
        <div class="grid pad-t">
           <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-2-3 island">
                <div class="embed embed--4by3">
                    <img src="{{site.baseurl}}/artwork/icons-01.jpg" class="main-p-img embed__item" alt="Hideaway Hotel, map view">
                </div><!-- embed -->
            </div><!-- unit -->
            
             <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3">
            <div class="p-text-blurb gutter p-pad">
                {% for icons in site.data.icons %}
                <h4 class="p-sub push-0">Passive Icon State</h4>
                <p>{{icons.blurb2}}</p>
                {% endfor %}
            </div><!--blurb--> 
        </div> <!--unit-->

             <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-2-3 island">
                <div class="embed embed--4by3">
                    <img src="{{site.baseurl}}/artwork/icons-02.jpg" class="main-p-img embed__item" alt="Hideaway Hotel, map screen">
                </div><!-- embed -->
            </div><!-- unit -->
            
             <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3">
            <div class="p-text-blurb gutter p-pad">
                {% for icons in site.data.icons %}
                <h4 class="p-sub push-0">Active Icon State</h4>
                <p>{{icons.blurb3}}</p>
                {% endfor %}
            </div><!--blurb--> 
        </div> <!--unit-->

          <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-2-3 island">
                <div class="embed embed--16by9">
                    <iframe src="https://player.vimeo.com/video/175642561" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="embed__item"></iframe>
                    </div><!-- embed -->
            </div><!-- unit -->
            
            <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3">
            <div class="p-text-blurb gutter p-pad">
                {% for icons in site.data.icons %}
                <h4 class="p-sub push-0">Concept Demo</h4>
                <p>{{icons.blurb4}}</p>
                {% endfor %}
            </div><!--blurb--> 
        </div> <!--unit-->

            
        </div><!-- grid -->
    </div><!-- portfolio -->
</main>    
