body{
 padding: 0;
 margin: 0;
 width: 100%;
 box-sizing: border-box;
 overflow-x:hidden;
 -webkit-overflow-x:hidden;
}

html{
 overflow-x:hidden;
 -webkit-overflow-x:hidden;  
}

.bio {
    padding: 4em 4em;
    color: white;
    background-color: #071C2C;
}

.bio p {
font-size: .9em;
opacity: .75;
}

.bio-title {
    font-size: .9em;
    line-height: 2em;
    color: white;
    font-weight: 100;
    opacity: .4;
}

.bio-link {
   text-decoration: none;
   color: white;
   font-weight: 200;
}

.bio-link:hover,
.bio-link:active,
.bio-link:focus {
    color: #acc6c9;
    text-decoration: underline 2px solid;
}

.bio-link2 {
   text-decoration: none;
   color: black;
}

.bio-link2:hover,
.bio-link2:active,
.bio-link2:focus {
    color: #acc6c9;
    text-decoration: underline 2px solid;
}


/* Accessibilty */

svg:not(:root) {
  overflow: hidden;
}

a:focus {
    outline:3px solid #58595B;  
}

.name {
    font-size: 30em;
    line-height: 0px;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
	position: absolute;
	top: -3em;
    z-index: 100;
}

.skip-links a:focus {
	position: absolute;
	top: 0em;
}

/* Banner */ 
.title {
 font-size: 1.6em;
 color: #4b4f54;
}

.center-portfolio {
}

.copyrights {
    opacity: .65;
}

.banner {
    height: 20em;
    background-color: #071c2c;
}

.wordmark {
    fill: white;
    margin: 3.8em 0em 0em 0em;
    width: 58%;
    padding: 0;
    overflow: visible;
     -webkit-transition: all 300ms ease-out; 
    transition: all 250ms ease-out;
}

.no-deco {
    text-decoration: none;
}

.arrow {
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
    border-radius: 100%;  
}


.arrow:hover,
.arrow:active,
.arrow:focus {
    color: #acc6c9;
  
}


.st0{
    fill:none;
    stroke:black;
    stroke-width:40;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.st0:hover {
    fill:none;
    stroke:#BCBEC0;
    stroke-width:40;
}

/* Nav Styles */
.only-sm {
    display: block;  
} 
    
.only-m-l {
    display: none;  
}

.toggle-label {
    cursor: pointer;
}

.toggle {
    display: block;
    fill: #888888;
    height: 25px;
    padding-top: 12px;
    padding-left: 14px;
    padding-right: 0;
    padding-bottom: 36px;
     -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.toggle:hover,
.toggle:active,
.toggle:focus{
    fill:#acc6c9;
}

.toggle-check {
    position: absolute;
    top: -3em;
    display: block;
}

.toggle-menu {
    overflow: hidden;
    padding: 0;
    box-shadow: 0px 0px 2px 0px rgba(35, 31, 32, 0.1);
    background-color:rgba(220, 220, 220, .98);
    position: relative;
    z-index: 1000;
    max-height: 0em;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.toggle-check:checked ~ .toggle-menu {
    max-height: 10em;
}

.nav-bar {
    background-color:rgba(250, 250, 250, .95);
    box-shadow:0px 0px 5px 0px rgba(128,128,128, .3);
    margin: 0px;
    height: 60px;
    padding-bottom: 1em;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-bar-s {
   background-color:rgba(250, 250, 250, .98);
    box-shadow:0px 0px 5px 0px rgba(128,128,128, .3);
    margin: 0;
    padding: 0;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-t-item {
    display: block;
    text-decoration: none;
    color:#6D6E71;
    list-style-type: none;
    margin: 0;
    font-size: 0.8889rem;
    line-height: 1.4625;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 16px;
     -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.nav-t-item:hover {
    color: #111820;
    border-bottom: 6px solid #acc6c9;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-t-item-word {

    color:#6D6E71;
     -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.nav-t-item-word :hover {
    color: #111820;
}




.nav-t2-item {
    display: block;
    padding: 1em 0em 1em 0;
    text-decoration: none;
    opacity: .6;
    color: #111820;
    background-color: transparent;
    list-style-type: none;
    margin: 0;
     -webkit-transition: all 250ms ease-out; 
    transition: all 250ms ease-out;
}

.nav-t2-item:hover {
    opacity: 1;
    padding: 1em 0em 1em 0;
    color: white;
    font-weight: 400;
    background-color: #acc6c9;
}

.nav-t {
    list-style: none;
    display:;
}

/* Intro Styles */

.intro {
    color: #111820;
    padding: 2em;
}

.header {
    line-height: 1.5em;
}

/* 404 */

.fourBkg {
    background-color: #071c2c;
}

.fourText1 {
    color: #f1f1f1;
    font-weight: 200;
}

.fourText2 {
 color: #f1f1f1;
}

.fourBtn {
    color: #f1f1f1;
    text-decoration: none;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
    font-weight: 200;
    font-style: italic;
}

.fourBtn:hover {
    color: #f1f1f1;
    border-bottom: 6px solid #acc6c9;
}

.fourofourblurb {
    color: #111820;
    padding: 12em 2em 6em 2em;
    background-color: background-color:rgba(219, 217, 214, .25);
}

.border {
    border: 1px solid #CCCCCC;
}

/* Portfolio Styles */

.portfolio {
    padding-top: 4em;
    color: rgba(8, 38, 44, 1);
    fill:#B8CED0;
}

.img-hover {
    opacity: 1;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.img-hover:hover {
    opacity: .85;
}

.portfolio-test {
    padding-top: 4em;
    color: rgba(8, 38, 44, 1);
    background:#e3e3e3;
}

.shadow-test{
    box-shadow: .25em .25em .75em rgba(204, 204, 204, 1);
}


.img-hover-test {
    opacity: 1;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.img-hover-test:hover {
    opacity: .85;
}

.piece{
    padding:1.13em;
}

.piece-wrap{
    padding-bottom: 6em;
}

.caption{
    font-size: .8em;
    font-weight: 100;
    margin-top: .5em;
    opacity: .6;
}

/* portfolio pop up 
.pop-up {
    display: none;
}
.pop-up:target {
    display: block;
}
*/


/* Social Media styles */
.iconset {
    padding: 0px;
    display: inline-block;
}

.iconset {
    fill:#6D6E71;
}

.iconset:hover,
.iconset:active,
.iconset:focus{
    fill: #acc6c9;
    -webkit-transition: all 100ms ease-in-out; 
    transition: all 300ms ease-in-out;
}

.iconset i:hover,
.iconset i:active,
.iconset i:focus{
    color: #acc6c9;
    -webkit-transition: all 100ms ease-in-out; 
    transition: all 300ms ease-in-out;
}
    
    
.icons {
    color: #111820;
    text-decoration: none;
    margin-top: .3em;
    margin-left:.25em;
    margin-right:.25em;
    margin-bottom: .1em;
    display: inline-block;
    height:60px;
    width: 60px;
    border-radius: 100%;
    background-color: none;
}
    
    
.email {
    font-size: 1em;
    text-decoration: none;
    color:#6D6E71;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.email:hover {
    color: #111820;
    border-bottom: 6px solid #acc6c9;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.link {
    font-size: 1em;
    text-decoration: none;
    font-weight: bolder;
    color:black;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.link:hover {
    color: #B8CED0;
}

.cb-footer {
    padding-top: 1em;
    color: #111820; 
    box-shadow: 4px 4px 4px 4px rgba(128,128,128, .35);
    background-color:rgba(219, 217, 214, .125);
}

/* PROJECT STYLES */


.p-ee-img {
    height: 20em;
    background-color: #58595B; 
    background-position: bottom center;
    background-size: 2em;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;   
}

.p-main-img {
    height: 20em;
    background-color: #58595B; 
    background-position: bottom center;
    background-size: 2em;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.p-text-blurb {
    padding: 0em 1.3em 3em 1.3em;
}

.p-overview {
    color: rgba(8, 38, 44, 1);
    background-color:#B8CED0;
    padding: 2em;
    margin: 0;
}

.p-title{
    padding-bottom: .2em;
}

.p-sub{
    font-size: .9em;
    line-height: 2em;
    color: black;
    font-weight: 100;
    opacity: .5;
}

.p-sub-rev{
    font-size: .9em;
    line-height: 2em;
    color: white;
    font-weight: 100;
    opacity: .4;
}


/* Project Nav */

.p-nav-bar {
    background-color:rgba(250, 250, 250, .95);
    box-shadow:0px 0px 5px 0px rgba(128,128,128, .3);
    height: 60px; 
    position: fixed;
    width: 100%;
    z-index: 101;
    padding: 0;
    margin: 0;
}

.close svg {
    height: 52px;
    width: 135px;
    color:#6D6E71;
    position: absolute;
    top: 0px;
    left: calc(50% - 67.5px);
    opacity: .6;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.close:hover svg {
    fill:#acc6c9;  
    opacity: 1;
}

.previous {
    height: 50px;
    position: absolute;
    top: 2px;
    left: calc(5% - 10px);
    opacity: 1;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

.textDecoNone {
    text-decoration: none;
}

.arrow2 {
    text-decoration: none;
    fill:#6D6E71;
    padding-left: calc(50% - 25px);
    padding-bottom: 0;
    overflow: hidden;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out; 
}


.arrow2:hover,
.arrow2:active,
.arrow2:focus {
    color: #acc6c9;
}


.arrow3 {
    fill:#6D6E71;
    padding-bottom:45px;
    padding-right: 100%;
    padding-top: 14px;
    padding-left: 10px;
    border-radius: 100%;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
    border-radius: 100%;  
}


.arrow3:hover,
.arrow3:active,
.arrow3:focus {
    fill: #acc6c9;
}

.arrow4 {
 fill:#6D6E71;
    padding-bottom:45px;
    padding-top: 14px;
    padding-left: 0px;
    border-radius: 100%;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
    border-radius: 100%; 
}


.arrow4:hover,
.arrow4:active,
.arrow4:focus {
    fill: #acc6c9;
}

.next {
    height: 50px;
    position: absolute;
    top: 2px;
    left: calc(95% - 16px);
    opacity: 1;
    -webkit-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}


/* PROJECT STYLES END */


/*test*/

/*before small but not quite extra small, only here so that the e-mail doesn’t make an ugly white bar on unrealistically tiny screens*/@media only screen and (min-width: 22em) {

.email {
    font-size: 1em;
    
}
    
.social {
    width:80px;
    padding: 0 1em 0 1em;
    text-align: center;
    display: inline-block;
}
}
      
/*small*/@media only screen and (min-width: 25em) {
.p-nav-bar {
    background-size: 35%;
}     
    
.cb-footer {
    background-size: 35%;
}  
    
.fourofourblurb {
    padding: 10em 6em;
}
    
.banner {
height: 20em;
}
      
    
.wordmark {
    width: 45%;
    margin: 3.7em 0em 0em 0em;
}
    
}
    
/*medium*/@media only screen and (min-width: 40em) {        
            
.p-s-colour{
    background-color: #1b222a;
    color: white;
}  
    

.p-s-colour p{
    color: white;
    opacity: .7;
}  
  
    
.p-nav-bar {
    background-size: 30%;
}    
    
.cb-footer {
    background-size: 30%;
}     
    
.fourofourblurb {
    padding: 12em 0em 10em 0em;
}    
    
.banner {
    height: 24em;
    }
        
    
.wordmark {
    width: 40%;
    margin: 4.2em 0em 0em 0em;
}  
    
.only-sm {
    display: none;  
} 
    
.only-m-l {
    display: block;  
} 
    
    
.p-text-blurb {
    padding: 2em 1.13em 2em 0em;
}
       
}

/*large former 68*/@media only screen and (min-width: 60em) {
    
    .island-l {
  padding: 1.3rem;
}
    
.intro {
    padding: 4em;
}   

.p-nav-bar {
    background-size: 15%;
}       
    
.cb-footer {
    background-size: 15%;
}     
 
.banner {
    height: 30em;
    }        
    
.wordmark {
    width: 30%;
    margin: 4.75em 0em 0em 0em;
}
    
 .about {
    padding: 10em 2em;
}
    
.p-text-blurb {
    padding: 0em 1.3em 3em 1.3em;
}
    
.p-pad {
    padding-top: 2em;
}

.p-main-img {
    height: 30em;
}    

.p-overview {
    padding: 2em 4em 2em 4em;
}    
 
}

/*x.5large*/@media only screen and (min-width: 75em){
    .p-s-colour-pad{
        padding-top: 8em;
    }
    
}
    
/*xlarge*/@media only screen and (min-width: 90em) { 
.island-l {
  padding: 2.5rem;
}    
    
    .p-overview {
    padding: 2em 10em 2em 10em;
    }
    .banner {
        height: 34em;
    }
    .wordmark {
    width: 30%;
    margin: 5.5em 0em 0em 0em;
}
}



/*xxlarge*/@media only screen and (min-width: 100em) { 
    .p-overview {
    padding: 2em 10em 2em 10em;
    }
    .banner {
        height: 45em;
        background-position: bottom 80%;
    }
}

/*
Brand Colours
grey: #DBD9D6
*/