html,
body {
	margin: 0;
	padding: 0;
}


@media only screen and (min-width: 80em) {

	html {
		font-size: 110%;
	}

}

@media only screen and (min-width: 100em) {

	html {
		font-size: 120%;
	}

}

.grid {
}

/*

.masthead {
	background-color: #eae8e1;
}

.logo {
	margin: 0 auto;
	max-width: 256px;
}

@media only screen and (min-width: 50em) {

	.logo {
		margin: 0;
	}

}

.nav {
	margin-top: 1.5rem;
	text-align: center;
}

.nav a {
	display: inline-block;
	margin: 0 0.4em;
}

@media only screen and (min-width: 50em) {

	.nav {
		margin-top: 0;
		text-align: right;
	}

}

.moons {
	background-color: #f2f1ed;
}

.moons__title {
	text-align: center;
}

.news {
	background-color: #eae8e1;
}

.footer__copyright,
.footer__links {
	text-align: center;
}

@media only screen and (min-width: 50em) {

	.footer__copyright {
		text-align: left;
	}

	.footer__links {
		text-align: right;
	}

}

*/