<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
     <link href="{{site.baseurl}}/artwork/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:300,300italic' rel='stylesheet' type='text/css'>
<link href="https://file.myfontastic.com/tmufJuTKRRc8PvxkriQNKo/icons.css" rel="stylesheet">
    
    

<!-- Facebook Card -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="Valerie Bordeleau Graphic Design · Ottawa, ON ">
  <meta property="og:url" content="http://valeriebordeleau.github.io/portfolio-valerie-bordeleau/">
  <!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="http://fullurl.com/sample-image-to-fill-in-later.jpg">
  <!-- `og:site_name` is optional but highly recommended -->
  <meta property="og:site_name" content="The Portfolio of Valerie Bordeleau Graphic Design · Ottawa, ON">
  <!-- `og:description` is also optional, but could easily be filled with the meta description -->
  <meta property="og:description" content="Hey there, creating universally accessible media for all is what drives me. I am an Ottawa-based Graphic Designer who focuses on illustration, motion, and UX. Stick around if you'd like to check out my portfolio.">

<!-- Twitter Card -->     
    <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Valerie Bordeleau Graphic Design · Ottawa, ON">
  <meta name="twitter:url" content="http://valeriebordeleau.github.io/portfolio-valerie-bordeleau/project-1">
  <meta name="twitter:description" content="Hey there, creating universally accessible media for all is what drives me. I am an Ottawa-based Graphic Designer who focuses on illustration, motion, and UX. Stick around if you'd like to check out my portfolio.">
  <!-- The image should be 120x120 pixels in dimension -->
  <meta name="twitter:image" content="http://fullurl.com/to-this/image-sample-to-fill-later.jpg">    
 
<!-- Search Engine Stuff -->     
    
<title>Valerie Bordeleau Graphic Design · Ottawa, ON </title>
<meta name="description" content="Hey there, creating universally accessible media for all is what drives me. I am an Ottawa-based Graphic Designer who focuses on illustration, motion, and UX. Stick around if you'd like to check out my portfolio.">

</head>
      
<body>
    
<header>
    
    <!-- Accessibility feature -->       
    <ul class="skip-links">
        <li><a href="#nav">Skip To Navigation</a></li>
        <!--<li><a href="#intro">Skip To Introduction</a></li>-->
        <li><a href="#main">Skip To Main Content</a></li>         <li><a href="#contact">Skip To Contact Info</a></li>
    </ul>    
  
<!-- Toggle, Top Nav, Role of Nav is on bottom nav-->  
    
    <div class="only-sm">
    <div class="nav-bar-s push-0">
            <div class="list-group push-0">
                <input type="checkbox" class="toggle-check" id="toggle-check">
                <div class="toggle-shape"></div>
                <label for="toggle-check" class="toggle-label toggle"> <i class="icon-toggle"></i>
</label>
                    <ul class="pad-top text-center toggle-menu">
                       <!-- <li class="list-group__item list-group__item "><a href="#intro" class="nav-t2-item">Introduction</a></li> -->
                        <li class="list-group__item list-group__item "><a href="#portfolio" class="nav-t2-item">Portfolio</a></li>
                        <li class="list-group__item list-group__item "><a href="/about" class="nav-t2-item">About</a></li>
                        <li class="list-group__item list-group__item "><a href="#contact" class="nav-t2-item">Contact</a></li>
                </ul>
        </div><!-- list group --> 
    </div><!-- navbar -->
</div><!-- only-sm -->
    
<!-- No Toggle, Top Nav, Role of Nav is on bottom nav-->    
    
    
    <div class="only-m-l">
        <div class="nav-bar">
            
            <div class="list-group text-center push-0">
                    <ul class="gutter push-0 js-smooth-scroll">
                        <!--<li class="list-group__item list-group__item--inline gutter-half"><a href="#intro" class="nav-t-item">Introduction</a></li> -->
                        <li class="list-group__item list-group__item--inline"><a href="#portfolio" class="nav-t-item">Portfolio</a></li>
                       <li class="list-group__item list-group__item--inline gutter-half"><a href="/about" class="nav-t-item">About</a></li>
                        <li class="list-group__item list-group__item--inline gutter-half"><a href="#contact" class="nav-t-item">Contact</a></li>
                    </ul>
            </div><!-- list group --> 
        </div><!-- nav bar --> 
</div><!-- m/l -->  
    
   
    
</header>

{{content}}

    
<!--Footer = contact info, secondary nav-->   
    <footer itemscope itemtype="https://schema.org/Person">
        
        <div class="cb-footer" id="contact">
            
            
            
            
            
            <nav id="nav" role="navigation">
                
                   <ul class="gutter text-center js-smooth-scroll">
                <li class="list-group__item list-group__item--inline gutter-half"><a href="#top" class="textDecoNone"><i class="icon-up arrow2"></i></a></li>
                    </ul>
                
                    <h3 class="push-0 text-center mega" itemprop="name">Valerie Bordeleau</h3>
                <p class="text-center push-half"><a href="mailto:heythere@valeriebordeleau.ca" class="email" itemprop="email">heythere@valeriebordeleau.ca</a></p>
                

                </nav>
        
 <div class="text-center push-0">
          <div class="iconset"> 
            <a href="https://dribbble.com/ValerieBordeleau" rel="My Dribbble Account" class="icons"><i class="icon-dribbble"></i></a>
            </div>
        
        <div class="iconset"> 
            <a href="https://instagram.com/veebordeleau/" rel="My Instagram Account" class="icons"><i class="icon-instagram"></i></a>
            </div>
            
        <div class="iconset"> 
            <a href="https://vimeo.com/user36423802" rel="My Vimeo Account" class="icons"><i class="icon-vimeo"></i></a>
            </div>
        
         <div class="iconset"> 
            <a href="https://www.flickr.com/photos/133866932@N04/" rel="My flickr Account" class="icons"><i class="icon-flickr"></i></a>
            </div>
    </div>
            
            <p class="island push-0" role="contentinfo"><small class="micro copyrights">© Valerie Bordeleau 2015-2016</small></p>
            
        </footer>
    </div><!-- footer colour block -->

    
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.3.5/jquery.localScroll.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
    </body>
</html>