<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
     <link href="{{site.baseurl}}/artwork/favicon1.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width,initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400" rel="stylesheet"> 
    
    

<!-- Facebook Card -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="Valerie Bordeleau · Graphic Design · Ottawa, ON">
  <meta property="og:url" content="http://valeriebordeleau.github.io/portfolio-valerie-bordeleau/">
  <!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="http://fullurl.com/sample-image-to-fill-in-later.jpg">
  <!-- `og:site_name` is optional but highly recommended -->
  <meta property="og:site_name" content="The Portfolio of Valerie Bordeleau Graphic Design · Ottawa, ON">
  <!-- `og:description` is also optional, but could easily be filled with the meta description -->
  <meta property="og:description" content="Hey there, as a professional creative, I put a whole heck of a lot of passion and energy into all I do. I am obsessed with clean, relevant, user/consumer-friendly design. Stick around if you'd like to check out my portfolio.">

<!-- Twitter Card -->     
    <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Valerie Bordeleau · Graphic Design · Ottawa, ON">
  <meta name="twitter:url" content="http://valeriebordeleau.github.io/portfolio-valerie-bordeleau/project-1">
  <meta name="twitter:description" content="Hey there, as a professional creative, I put a whole heck of a lot of passion and energy into all I do. I am obsessed with clean, relevant, user/consumer-friendly design. Stick around if you'd like to check out my portfolio.">
  <!-- The image should be 120x120 pixels in dimension -->
  <meta name="twitter:image" content="http://fullurl.com/to-this/image-sample-to-fill-later.jpg">    
 
<!-- Search Engine Stuff -->     
    
<title>Valerie Bordeleau · Graphic Design · Ottawa, ON</title>
<meta name="description" content="Hey there, as a professional creative, I put a whole heck of a lot of passion and energy into all I do. I am obsessed with clean, relevant, user/consumer-friendly design. Stick around if you'd like to check out my portfolio.">

</head>
      
<body>
    
<header>
    
    <!-- Accessibility feature -->       
    <ul class="skip-links">
        <li><a href="#nav">Skip To Navigation</a></li>
        <!--<li><a href="#intro">Skip To Introduction</a></li>-->
        <li><a href="#main">Skip To Main Content</a></li>         <li><a href="#contact">Skip To Contact Info</a></li>
    </ul>      
  
    
<!-- Toggle, Top Nav, Role of Nav is on bottom nav-->  
    <div class="only-sm">
    <div class="nav-bar-s push-0">
                    
            <div class="list-group push-0">
                <input type="checkbox" class="toggle-check" id="toggle-check">
                <div class="toggle-shape push-0"></div>
                <label for="toggle-check" class="toggle-label toggle"> 
                    <span class="toggleHover"><div id="toggle">
                      <div class="one"></div>
                      <div class="two"></div>
                      <div class="three"></div>
                    </div></span>


</label>
                    <ul class="pad-top text-center toggle-menu">
                       <!-- <li class="list-group__item list-group__item "><a href="#intro" class="nav-t2-item">Introduction</a></li> -->
                        <li class="list-group__item list-group__item "><a href="/about" class="nav-t2-item">About</a></li>
                         <li class="list-group__item list-group__item "><a href="#work" class="nav-t2-item">Work</a></li>
                        <li class="list-group__item list-group__item "><a href="#contact" class="nav-t2-item">Connect</a></li>
                </ul>
        </div><!-- list group --> 
    </div><!-- navbar -->
</div><!-- only-sm -->
</div>    
 
    
<!-- No Toggle, Top Nav, Role of Nav is on bottom nav-->        
    
    
<div class="text-center">
    <div class="only-m-l">
        <div class="nav-bar">
            <div class="list-group push-0">
                    <ul class="push-0 js-smooth-scroll fullNav">
                        <!--<li class="list-group__item list-group__item--inline gutter-half"><a href="#intro" class="nav-t-item">Introduction</a></li> -->
                         <li class="list-group__item list-group__item--inline"><a href="/about" class="nav-t-item">About</a></li>
                        <li class="list-group__item list-group__item--inline"><a href="#work" class="nav-t-item">Work</a></li>
                        <li class="list-group__item list-group__item--inline"><a href="#contact" class="nav-t-item">Connect</a></li>
                    </ul>
            </div><!-- list group --> 
        </div><!-- nav bar --> 
    </div><!-- m/l -->  
</div>
    
   
    
</header>

{{content}}

    
<!--Footer = contact info, secondary nav-->   
    <!--Footer = contact info, secondary nav-->   
    <footer itemscope itemtype="https://schema.org/Person" class="cb-footer">
        
        <div class="" id="contact">
            
            
            
            
            
            <nav id="nav" role="navigation">
                
                 <!--
                    <ul class="gutter text-center js-smooth-scroll">
                        <li class="list-group__item list-group__item--inline gutter-half arrow2"><a href="#top" class="textDecoNone"><svg x="0px" y="0px"><polygon points="0,14 14.9,0 30,13.7 27.9,15.7 14.9,3.9 2.1,16"/>
                            </svg>

                        </li>
                    </ul>
                -->
                
               <h3 class="push-0 pad-top-half text-center mega" itemprop="name">Valerie Bordeleau</h3>
                <p class="text-center pad-bottom-quater"><a href="mailto:heythere@valeriebordeleau.ca" class="email" itemprop="email">heythere@valeriebordeleau.ca</a></p>
                

                </nav>
  <div class="text-center">
        <a href="https://dribbble.com/valeriebordeleau" class="icons"><img src="../artwork/icon_drib.svg"></a>
      
        <a href="https://www.instagram.com/veebordeleau/?hl=en" class="icons"><img src="../artwork/icon_insta.svg"></a>
      
        <a href="https://vimeo.com/user36423802" class="icons"><img src="../artwork/icon_vimeo.svg"></a>
  </div>  
      
      

            
      <p class="pad-top-double push-0 pad-bottom text-center" role="contentinfo"><small class="micro copyrights">© valerie bordeleau 2015-2017</small></p>
            
        
    </div><!-- footer colour block -->
        </footer>

    
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.3.5/jquery.localScroll.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
    </body>
</html>