<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
     <link href="{{site.baseurl}}/artwork/favicon1.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:600" rel="stylesheet"> 
    
    

<!-- Facebook Card -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="Valerie Bordeleau · Graphic Design · Ottawa, ON">
  <meta property="og:url" content="http://valeriebordeleau.github.io/portfolio-valerie-bordeleau/">
  <!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="http://fullurl.com/sample-image-to-fill-in-later.jpg">
  <!-- `og:site_name` is optional but highly recommended -->
  <meta property="og:site_name" content="The Portfolio of Valerie Bordeleau Graphic Design · Ottawa, ON">
  <!-- `og:description` is also optional, but could easily be filled with the meta description -->
  <meta property="og:description" content="Hey there, as a professional creative, I put a whole heck of a lot of passion and energy into all I do. I am obsessed with clean, relevant, user/consumer-friendly design. Stick around if you'd like to check out my portfolio.">

<!-- Twitter Card -->     
    <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Valerie Bordeleau · Graphic Design · Ottawa, ON">
  <meta name="twitter:url" content="http://valeriebordeleau.github.io/portfolio-valerie-bordeleau/project-1">
  <meta name="twitter:description" content="Hey there, as a professional creative, I put a whole heck of a lot of passion and energy into all I do. I am obsessed with clean, relevant, user/consumer-friendly design. Stick around if you'd like to check out my portfolio.">
  <!-- The image should be 120x120 pixels in dimension -->
  <meta name="twitter:image" content="http://fullurl.com/to-this/image-sample-to-fill-later.jpg">    
 
<!-- Search Engine Stuff -->     
    
<title>Valerie Bordeleau · Graphic Design · Ottawa, ON</title>
<meta name="description" content="Hey there, as a professional creative, I put a whole heck of a lot of passion and energy into all I do. I am obsessed with clean, relevant, user/consumer-friendly design. Stick around if you'd like to check out my portfolio.">
  
    </head>    
    
<body>
    
<header>
    
    <!-- Accessibility feature -->       
    <ul class="skip-links">
        <li><a href="#nav">Skip To Navigation</a></li>
        <!--<li><a href="#intro">Skip To Introduction</a></li>-->
        <li><a href="#main">Skip To Main Content</a></li>         <li><a href="#contact">Skip To Contact Info</a></li>
    </ul>    
  
    
<!-- No Toggle, Top Nav, Role of Nav is on bottom nav-->    
    
    

        <div class="nav-bar">
            <div class="grid">
            
            
            <div class="unit unit-s-1">
            <div class="list-group text-center push-0">
                    <div class="push-0 js-smooth-scroll fullNav nav-t-item-proj">
                        
                        <h3 class="list-group__item list-group__item--inline"><a href="{{site.baseurl}}{{page.previous}}/" class="previous">
                            
                            
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24.8 49.6" style="enable-background:new 0 0 24.8 49.6;" xml:space="preserve">
                                <g>
	                               <path class="st0" d="M0,24.8L24.8,0v49.6L0,24.8z"/>
                                </g>
                            </svg>

                            
                            </a></h3>
                        
                        <h3 class="list-group__item list-group__item--inline"><a href="/" class="home">
                            
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.7 75">
  <path d="M15.8 2H20v28.3c3.1-3 7.2-4.7 12.8-4.7C45.1 25.6 53 35.2 53 49c0 13.7-7.9 23.5-21.6 23.5-5.6 0-9.9-1.7-12.9-4.8l-5.6 4.8H8.3V15.9c0-2.4-.8-3.2-2.7-3.2H2.4V9.8L15.8 2zM20 62.4c2.1 3 5.1 4.6 9.3 4.6 8.3 0 11.5-6.7 11.5-18s-3.2-18-11.5-18c-4.2 0-7.1 1.6-9.3 4.6v26.8zm51.6 2.2c0 4.1-3 7.6-7.7 7.6a7.4 7.4 0 0 1-7.7-7.6c0-3.9 2.9-7.4 7.7-7.4 4.7 0 7.7 3.5 7.7 7.4z"/>
</svg>
    
                            
                        </a></h3>
                        
                        <h3 class="list-group__item list-group__item--inline "><a href="{{site.baseurl}}{{page.next}}/" class=" next">
                    
                               <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24.8 49.6" style="enable-background:new 0 0 24.8 49.6;" xml:space="preserve">
                                   <g>
	                                   <path class="" d="M24.8,24.8L0,49.6V0L24.8,24.8z"/>
                                </g>
                            </svg>


                            
                            
                            </a></h3>
                    </div>
                </div>
                </div>
            </div><!-- list group --> 
        </div><!-- nav bar --> 

    
   
    
</header>

{{content}}

    
<!--Footer = contact info, secondary nav-->   
    <!--Footer = contact info, secondary nav-->   
    <footer itemscope itemtype="https://schema.org/Person">
        
        <div class="cb-footer" id="contact">
            
            
            
            
            
            <nav id="nav" role="navigation">
                
                 <!--
                    <ul class="gutter text-center js-smooth-scroll">
                        <li class="list-group__item list-group__item--inline gutter-half arrow2"><a href="#top" class="textDecoNone"><svg x="0px" y="0px"><polygon points="0,14 14.9,0 30,13.7 27.9,15.7 14.9,3.9 2.1,16"/>
                            </svg>

                        </li>
                    </ul>
                -->
                <h3 class="push-0 text-center mega name" itemprop="name">Valerie Bordeleau</h3>
                <h6 class="text-center pad-bottom-quater"><a href="mailto:heythere@valeriebordeleau.ca" class="email" itemprop="email">heythere@valeriebordeleau.ca</a></h6>
                

                </nav>
  <div class="text-center">
        <a href="https://dribbble.com/valeriebordeleau" class="icons"><img src="../artwork/icon_drib.svg"></a>
      
        <a href="https://www.instagram.com/veebordeleau/?hl=en" class="icons"><img src="../artwork/icon_insta.svg"></a>
      
        <a href="https://vimeo.com/user36423802" class="icons"><img src="../artwork/icon_vimeo.svg"></a>
  </div>  
      
      

            
      <p class="pad-top-double push-0 pad-bottom text-center" role="contentinfo"><small class="micro copyrights">© valerie bordeleau 2015-2018</small></p>
            
        
    </div><!-- footer colour block -->
        </footer>

 <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.3.5/jquery.localScroll.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
    </body>
</html>